@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.padding {
  @apply px-5 xl:px-0;
}

* {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: #f8fbff;
  font-family: "Poppins", sans-serif;
  color: #222;
}

p {
  line-height: 38px !important;
}
